{% includeCssResource "teammanager/css/featured-layout.css" %}
{% set values = craft.teamManager.getFeaturedLayoutsByType('grid') %}

<h3 style="color: #DA5A47;">USE WITH CAUTION!</h3>
<form method="post" action="" accept-charset="UTF-8">
    <input type="hidden" name="action" value="teamManager/featuredLayout/saveLayouts" />
    <input type="hidden" name="values" value="{{ values }}" />
    <input type="hidden" name="fLType" value="grid">

    {{ craft.teamManager.renderFormCustomMacro('editableTable', {
        tableId: '2',
        count: 8,
        values: values,
        name: 'table',
        static: true,
        cols: [
            {heading: "#", type: "index", name: "index"},
            {heading: "Title", type: "button", name: "title", editType: "textField"},
            {heading: "Image", type: "button", name: "image", editType: "elementSelectField", noLiveUpdate: true},
            {heading: "Link", type: "button", name: "link", editType: "textField"},
            {heading: "Auto", type: "checkbox", name: "isArticle"}
        ]
    }) }}

    <div class="buttons" style="text-align: center">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}" style="float: none">
    </div>
</form>