{% includeCssResource "teammanager/css/featured-layout.css" %}

{{ craft.teamManager.renderFormCustomMacro('editableTable', {
    name: 'table',
    instructions: "Setup your own Slide Show layout"|t,
    static: true,
    cols: [
        {heading: "Title", type: "button", name: "title", editType: "textField"},
        {heading: "Picture", type: "button", name: "picture"},
        {heading: "Link", type: "button", name: "link"},
        {heading: "Default", type: "checkbox", name: "isArticle"}
    ],
    rows: [
        [
            "Column 1",
            "Column 2",
            "Column 3",
            true
        ],
        2,
        3,
        4,
        5
    ]
}) }}