{%- set static = (static is defined ? static : false) %}
{%- set cols = (cols is defined ? cols : []) %}
{%- set rows = (rows is defined ? rows : []) -%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<table id="{{ id }}" class="shadow-box editable">
	<thead>
		<tr>
			{% for col in cols %}
				<th scope="col" class="header">{{ col.heading ? col.heading : ' ' }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for rowId, row in rows %}
			<tr data-id="{{ rowId }}">
				{% for colId, col in cols %}
					{% set cellName = rowId~'-'~colId %}
					{% set value = (row[colId] is defined ? row[colId] : null) %}
					{% set textual = (col.type in ['singleline','multiline','number']) %}
					<td class="{% if textual %}textual{% endif %} {% if col.class is defined %}{{ col.class }}{% endif %}"{% if col.width is defined %} width="{{ col.width }}"{% endif %}>
                        {%- if col.type == 'button' -%}
                            <div class="fl-title-edit" id="fl-title-edit-{{ cellName }}" style="display: none">
                                <div class="fl-title-edit-inner">
                                    {{ craft.teamManager.renderFormMacro(col.editType, {
                                        label:        col.heading|t,
                                        id:           col.name,
                                        name:         col.name,
                                        value:        value
                                    }) }}
                                </div>
                            </div>
                            <a class="edit icon fl" id="{{ cellName }}">
                                <p class="fl-title">{{ value }}</p>
                            </a>
						{%- elseif col.type == 'checkbox' -%}
							<input type="hidden" name="{{ cellName }}">
							<input class="fl-checkbox" type="checkbox" name="{{ cellName }}" value="1"{% if value %} checked{% endif %}>
                            {% if value %}
                                {% for colId, col in cols %}
                                    {%- if col.type == 'button' -%}
                                        <script>
                                            var id = "#" + {{ rowId }} + "-" + {{ colId }};
                                            $(id).addClass('disabled');
                                        </script>
                                    {%- endif -%}
                                {% endfor %}
                            {% endif %}
                        {%- else -%}
							<textarea name="{{ cellName }}" rows="1"{% if static %} disabled{% endif %}>{{ value }}</textarea>
						{%- endif -%}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>

    <script>
        $(document).ready(function () {
            //Live preview of the cell value
            $('.fl').hover(function () {
                if (!$(this).hasClass('disabled'))
                    $(this).find('.fl-title').show();
            }, function () {
                $(this).find('.fl-title').hide();
            });

            //Opening the edit popup
            $('.fl').click(function () {
                if (!$(this).hasClass('disabled')) {
                    var id = $(this).attr('id');
                    $("#fl-title-edit-" + id).show();
                    $(this).addClass(id);
                }
            });

            //Closing the edit popup
            $('.fl-title-edit-inner').on('click', function (e) {
                e.stopPropagation();
            });
            $('.fl-title-edit').on('click', function () {
               $(this).hide();
            });

            //Toggling row on and off
            $('.fl-checkbox').click(function () {
                var str = $(this).attr('name');
                var row = str.substring(0, str.indexOf('-'));
                for (var i = 0; i < 3; i++) {
                    var id = "#" + row + "-" + i;
                    if ($(this).is(':checked'))
                        $(id).addClass('disabled');
                    else
                        $(id).removeClass('disabled');
                }
            });
        });
    </script>
</table>
