{%- set static = (static is defined ? static : false) %}
{%- set cols = (cols is defined ? cols : []) %}
{%- set values = (values is defined ? values : []) -%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<input type="hidden" name="count" value="{{ count }}">
<input type="hidden" name="tableId" value="{{ tableId }}">

<table id="{{ id }}" class="shadow-box editable">
	<thead>
		<tr>
			{% for col in cols %}
				<th scope="col" class="header">{{ col.heading ? col.heading : ' ' }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for rowId in 0..count %}
			<tr data-id="{{ rowId }}">
                <input type="hidden" name="{{ rowId~'-id'}}" value="{{ values[rowId]['id'] }}">
                <input type="hidden" name="{{ rowId~'-index'}}" value="{{ rowId }}">
				{% for colId, col in cols %}
					{% set cellName = tableId~'_'~rowId~'-'~colId %}
					{% set value = (values[rowId][col.name] is defined ? values[rowId][col.name] : null) %}
					{% set textual = (col.type in ['singleline','multiline','number']) %}
					<td class="{% if textual %}textual{% endif %} {% if col.class is defined %}{{ col.class }}{% endif %}"{% if col.width is defined %} width="{{ col.width }}"{% endif %}>
                        {%- if col.type == 'button' -%}
                            <div class="fl-title-edit" id="fl-title-edit-{{ cellName }}" style="display: none">
                                <div class="fl-title-edit-inner">
                                    {% if col.editType == 'elementSelectField' %}
                                        <div class="field">
                                            <div class="heading">
                                                <label>Add an image</label>
                                            </div>
                                            <div class="input">
                                                {{ craft.teamManager.renderFormMacro('elementSelect', {
                                                    elements: craft.teamManager.getElementsById(value),
                                                    id: tableId~'_'~rowId~'-'~col.name,
                                                    name: rowId~'-'~col.name,
                                                    elementType: craft.teamManager.getAssetElementType(),
                                                    criteria: {"kind":[],"localeEnabled":null,"locale":"en_us"},
                                                    sourceElementId: value,
                                                    jsClass: 'Craft.AssetSelectInput',
                                                    addButtonLabel: 'Select Image',
                                                    limit: 1
                                                }) }}
                                            </div>
                                        </div>
                                    {% else %}
                                        {{ craft.teamManager.renderFormMacro(col.editType, {
                                            label:        col.heading|t,
                                            id:           tableId~'_'~rowId~'-'~col.name,
                                            name:         rowId~'-'~col.name,
                                            value:        value
                                        }) }}
                                    {% endif %}
                                </div>
                            </div>
                            <a class="edit icon fl {{ col.noLiveUpdate ? 'noLiveUpdate'}}" id="{{ cellName }}">
                                <p class="fl-title">{{ value|length > 0 ? value~' - ' }}<i style="color: #8DD4FF">Click to Edit</i></p>
                            </a>
						{%- elseif col.type == 'checkbox' -%}
                            {% set value = not (rowId in values|keys) %}
							<input type="hidden" name="{{ cellName }}">
							<input class="fl-checkbox" type="checkbox" name="{{ rowId~'-'~col.name }}" id="fl-checkbox-{{ cellName }}" value="1"{% if value %} checked{% endif %}>
                            {% if value %}
                                {% for colId, col in cols %}
                                    {%- if col.type == 'button' -%}
                                        <script>
                                            var id = "#" + "{{ tableId }}" + "_" + "{{ rowId }}" + "-" + "{{ colId }}";
                                            $(id).addClass('disabled');
                                        </script>
                                    {%- endif -%}
                                {% endfor %}
                            {% endif %}
                        {%- elseif col.type == 'index' -%}
							<textarea style="padding: 7px 0; width: 10px" name="{{ cellName }}" rows="1"{% if static %} disabled{% endif %}>{{ rowId + 1 }}</textarea>
                        {%- else -%}
							<textarea style="padding: 7px 0; width: 10px" name="{{ cellName }}" rows="1"{% if static %} disabled{% endif %}>{{ value }}</textarea>
						{%- endif -%}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>

    <script>
        $(document).ready(function () {
            //Live preview of the cell value
            var fl = $('.fl');
            fl.hover(function () {
                if (!$(this).hasClass('disabled') && $(this).find('p').text().length > 0 && !$(this).hasClass('noLiveUpdate'))
                    $(this).find('.fl-title').show();
            }, function () {
                $(this).find('.fl-title').hide();
            });

            //Opening the edit popup
            fl.click(function () {
                if (!$(this).hasClass('disabled')) {
                    var id = $(this).attr('id');
                    $("#fl-title-edit-" + id).show();
                }
            });

            //Closing the edit popup
            $('.fl-title-edit-inner').on('click', function (e) {
                e.stopPropagation();
            });
            $('.fl-title-edit').on('click', function () {
               $(this).hide();

                //update the live view
                var id = $(this).attr('id').replace('fl-title-edit-', '');
                $("#" + id).find("p").text($(this).find('input').val());
            });

            //Toggling row on and off
            $('.fl-checkbox').click(function () {
                var str = $(this).attr('id').replace('fl-checkbox-', '');
                var tableId = str.substring(0, str.indexOf('_'));
                var row = str.substring(str.indexOf('_') + 1, str.indexOf('-'));
                for (var i = 0; i < "{{ cols|length }}"; i++) {
                    var id = "#" + tableId + "_" + row + "-" + i;
                    if ($(this).is(':checked'))
                        $(id).addClass('disabled');
                    else
                        $(id).removeClass('disabled');
                }
            });
        });
    </script>
</table>
