.fl-title{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.67);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 17px;
}
.fl-title-edit{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.69);
    height: 100%;
    z-index: 1;
}
.fl-title-edit-inner{
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 500px;
    background-color: rgb(229, 229, 229);
    border-radius: 3px;
}
.teammanager_slideshow{
    overflow: visible;
}