{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% includeCssResource "teammanager/css/players.css" %}

{% set tabs = {
    all: { label: "All Teams"|t},
    new:    { label: "New Team"|t, url: url('teammanager/teams/new') },
    players: { label: "Registered Players"|t, url: url('teammanager/players/index')}
} %}

{% set selectedTab = 'players' %}

{% set content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <div class="board">
        <div class="players-sidebar" style="width: 200px">
            <h2>Search criteria</h2>

            <form method="post" action="" accept-charset="UTF-8">
                <input type="hidden" name="action" value="teamManager/players/updateSearchCriteria" />

                <label style="float: left; width: 100%;">Age</label>
                <div style="width: 50px">
                    {{ forms.textField({
                        name: 'ageFrom',
                        instructions: 'From'|t,
                        value: criteria.ageFrom
                    }) }}
                </div>

                <div style="width: 50px">
                    {{ forms.textField({
                        instructions: 'To'|t,
                        name: 'ageTo',
                        value: criteria.ageTo
                    }) }}
                </div>

                <hr style="margin: 10px 0;">

                <div class="buttons">
                    <input type="submit" class="btn submit" value="{{ 'Update'|t }}">
                </div>
            </form>
        </div>

        <div class="players-sidebar" style="margin-left: 50px;">
            <h2>Search results</h2>

            {% if results|length <= 0 %}{% set results = craft.teamManager.getAllPlayers() %} {% endif %}

            <form method="post" action="" accept-charset="UTF-8">
                <input type="hidden" name="action" value="teamManager/players/exportPlayers"/>
                <input type="hidden" name="data" id="data" value=""/>

                <div class="popup" id="export-window" style="display: none">
                    <div class="popup-inner">
                        <p id="export-text"></p>
                        <br>
                        <input type="submit" class="btn submit" id="export-button" onclick="exportPlayers();" value="{{ 'Download'|t }}">
                    </div>
                </div>
            </form>

            <a class="btn submit" id="export-btn" onclick="openExportMenu()">Export</a>

            <table class="tg">
                <tr style="background-color: #D4E2EC;">
                    <th class="tg">
                        <input class="fl-checkbox" type="checkbox" id="select-all" onclick="selectAll();">
                    </th>
                    <th class="tg">Full Name</th>
                    <th class="tg">Age</th>
                    <th class="tg">Gender</th>
                    <th class="tg">Email</th>
                    <th class="tg">See more...</th>
                </tr>

                {% for result in results %}
                    <tr>
                        <td class="tg">
                            <input class="fl-checkbox" type="checkbox" name="select" id="select-{{ result.id }}">
                        </td>
                        <td class="tg">{{ result.name }}</td>
                        <td class="tg">
                            <script>
                                var year = parseInt('{{ result.birth }}'.substring(6));
                                document.write(2015 - ((year > 15 ? 1900 : 2000) + year));
                            </script>
                        </td>
                        <td class="tg">~</td>
                        <td class="tg">{{ result.email }}</td>
                        <td class="tg"><a class="player-info" id="player-{{ result.id }}">Click here</a></td>
                    </tr>

                    <div class="popup" id="popup-{{ result.id }}" style="display: none">
                        <div class="popup-inner">
                            {% set attr = result.getAttributes() %}
                            {% for key in attr|keys %}
                                {% if not attr[key] is iterable %}
                                    <p>{{ key ~ ": " ~ attr[key] }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.player-info').click(function () {
                var id = $(this).attr('id').substring(7);

                $('#popup-' + id).show();
            });

            $('.popup-inner').on('click', function (e) {
                e.stopPropagation();
            });
            $('.popup').on('click', function () {
                $(this).hide();
            });
        });

        function selectAll(){
            var checked = document.getElementById('select-all').checked;

            var x = document.getElementsByName("select");
            var i;
            for (i = 0; i < x.length; i++) {
                if (x[i].type == "checkbox") {
                    x[i].checked = checked;
                }
            }
        }

        function countSelected(){
            var x = document.getElementsByName("select");
            var i;
            var count = 0;
            for (i = 0; i < x.length; i++) {
                if (x[i].type == "checkbox") {
                    if(x[i].checked)
                        count++;
                }
            }

            return count;
        }

        function openExportMenu(){
            $('#export-window').show();

            var count = countSelected();
            if(count > 0) {
                $('#export-text').html("You have selected " + count + " players");
                $('#export-button').show();
            } else {
                $('#export-text').html("You did not select any players." +
                "</br>" +
                "Check the box in the top-left corner of the table to select all" +
                "</br>" +
                "or select players individually");
                $('#export-button').hide();
            }
        }

        function exportPlayers(){
            var x = document.getElementsByName("select");
            var i;
            var array = [];
            for (i = 0; i < x.length; i++) {
                if (x[i].type == "checkbox") {
                    if(x[i].checked)
                        array.push(x[i].id.substr(7));
                }
            }

            $('#data').val(array);

            $('#export-window').hide();
        }

    </script>
{% endset %}